
@font-face {
  font-family: 'DZRMENTAL';
  src: url(webfonts/'DZRMENTAL.eot?#iefix') format('embedded-opentype'),  url(webfonts/'DZRMENTAL.otf')  format('opentype'),
	     url(webfonts/'DZRMENTAL.woff') format('woff'), url(webfonts/'DZRMENTAL.ttf')  format('truetype'), url(webfonts/'DZRMENTAL.svg#DZRMENTAL') format('svg');
  font-weight: normal;
  font-style: normal;
}
